<div class="blog mt-4">
    <h2 class="fas fa-code-branch">{{title}}</h2>
    <h5>{{content}}</h5>
    <p class="text-center">Posted by {{user.username}}</p>
</div>

{{#if is_current_logged_in_user_author}}
<div class="col-md-12">
  <form class="form edit-form">
    <div class="form-group"></div>
    <label for="blog-title">Update blog title:</label>
    <input class="form-input comment-text" type="text" id="blog-title" name="blog-title" value="{{title}}" />
    <div class="form-group"></div>
    <label for="blog-content">Update blog content:</label>
    <textarea class="form-input comment-text updateContent" type="text" id="blog-content"
      name="blog-content">{{content}}</textarea>
    <div class="form-group">
      <button id="editbutton" type="submit" class="btn btn-primary">Edit post</button>
    </div>
    <div class="form-group">
      <button id="deletebutton" type="submit" class="btn btn-primary">Delete</button>
    </div>
</div>
</form>
<script src="/js/editpost.js"></script>
{{/if}}

<div class="mt-2">
  <h2 class="text-center p-2 font-weight-bold">Comments</h2>
  <div class="comments">
    {{#each comments as |comment|}}
    <p class="text-center font-size-large">{{comment.content}}</p>
    <h3 class="text-left font-weight-bold">{{user.username}} on {{format_date comment.created_date}}</h3> 
    {{/each}}
  </div>

  <div class="row justify-content-center mb-3">
    <div class="comment-form card col-md-6">
      <form>
        <div>
          <textarea id="comment-text" class="comment-body" name="comment-body" placeholder="Add your comment here"></textarea>
        </div>
        <div class="row justify-content-center comment-area">
          <button type="submit" id="addComment" class="btn btn-secondary mb-2">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="../js/addComment.js"></script>